{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block style %}{% endblock style %}
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% block breadcrumb %}                        
                {% endblock breadcrumb %}
            </ol>
        </nav>

        {% block content %}          
        {% endblock content %}
    </div>
</body>
</html>