{% extends "forum/base.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item">{{ board.name }}</li>
{% endblock breadcrumb %}

{% block content %}
    <div class="mb-4">
        <a href="{% url 'new_topic' board.pk %}" class="btn btn-primary">New topic</a>
    </div>

    <table class="table"> 
        <tr>
            <th>Topic</th>
            <th>Created</th>
            <th>Comments</th>
        </tr>
        {% for topic in board.topics.all %}
            <tr>
                <td><a href="{% url 'topic' board.pk topic.pk %}">{{ topic.title }}</a></td> 
                <td>{{ topic.created_at }}</td>
                <td>{{ topic.num_comments }}</td>  
            </tr>             
        {% endfor %}
    </table>
{% endblock content %}