{% extends "forum/base.html" %}  

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">Home</a></li>
{% endblock breadcrumb %}

{% block content %}
    <table class="table"> 
        <tr>
            <th>Board</th>
            <th>Topics</th>
            <th>Comments</th>
        </tr>
        {% for board in boards %}
            <tr>
                <td>
                    <a href="{% url 'board' board.pk %}">{{ board.name }}</a>
                    <small class="text-muted d-block">{{ board.description }}</small>
                </td> 
                <td class="align-middle">{{ board.num_topics }}</td>
                <td class="align-middle">{{ board.num_comments }}</td>  
            </tr>             
        {% endfor %}
    </table>
{% endblock content %}

