{% extends "forum/base.html" %}

{% load widget_tweaks %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'board' board.id %}">{{ board.name }}</a></li>
    <li class="breadcrumb-item">New topic</li>
{% endblock breadcrumb %}

{% block content %}
    <form method="post" novalidate autocomplete="off">
        {% csrf_token %}
        {% include "forum/includes/form.html" %}
        <button type="submit" class="btn btn-info">Create</button>
    </form>
{% endblock content %}