{% extends "forum/base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/topic.css' %}">
{% endblock style %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'board' topic.board.pk %}">{{ topic.board.name }}</a></li>
    <li class="breadcrumb-item">{{ topic.title   }}</li>
{% endblock breadcrumb %}

{% block content %}
    <h3 class="font-weight-bold">{{ topic.nickname }} - {{ topic.created_at }}</h3>
    <h4 class="pt-2">{{ topic.title }}</h4>
    <p>{{ topic.subject }}</p>
    <hr>

    {% for comment in topic.comments.all %}
        <div class="p-2 ml-3 mb-2 bg-light text-dark">
            <h4 class="font-weight-bold">{{ comment.nickname }}</h4>
            <p>{{ comment.message }}</p>
        </div>
        
    {% endfor %}

    <form class="ml-3" method="post" novalidate autocomplete="off">
        {% csrf_token %}
        {% include "forum/includes/form.html" %}
        <button type="submit" class="btn btn-info mb-5">Send</button>
    </form>
{% endblock content %}  